- content_for :css do
  = stylesheet_link_tag 'formtastic', 'formtastic_changes'
= error_messages_for :contact
- semantic_form_for @contact, :url => contacts_path, :html => {:class => 'short_form'} do |form|
  - form.inputs do
    = form.input :name, :required => true
    = form.input :email, :required => true
    = form.input :body, :as => :text, :input_html => { :rows => 7, :cols => 50 }, :required => true
    %li
      = show_simple_captcha :image_style => "simply_blue", :code_type => 'numeric'
    %div.clear
  - form.buttons do
    = form.commit_button I18n.t('post_contact_message'), :button_html => {:id => 'submit', :alt => I18n.t('post_contact_message')}