= title "#{t('site_map')}, #{SEO[:title]}"
= keywords "#{t('site_map')}, #{SEO[:keywords]}"
= description "#{t('site_map')}, #{SEO[:description]}"

%div#search_by_category
  %h2= t('site_map')
  %h3= link_to t('main_logo_link'), root_path
  %h4= link_to t('signup_nav_link'), signup_path